<!doctype html>
<html lang="en">
  <head>
    <?php include __DIR__ . '/partials/head.html'; ?>
    <title><?= $title; ?></title>
  </head>
  <body>
    <?php include __DIR__ . '/partials/nav.html'; ?>
    
    <div class="container layout">
      <section class="profile-section">
        <div class="profile-avatar"><i class="fa-solid fa-user-astronaut"></i></div>
        
        <div>
            <h1><?= htmlspecialchars($username); ?> 
                <?php if($role === 'ADMIN'): ?><span class="profile-badge">ADMIN</span><?php endif; ?>
            </h1>
            
            <?php if($details): ?>
                <p class="text-muted"><strong>Name:</strong> <?= htmlspecialchars($details['name'] . ' ' . $details['surname']) ?></p>
                <p class="text-muted">"<?= htmlspecialchars($details['bio']) ?>"</p>
            <?php else: ?>
                <p class="text-muted">Welcome! You haven't set up your detailed profile yet.</p>
            <?php endif; ?>
        </div>
      </section>
    </div>
  </body>
</html>