<!doctype html>
<html lang="en">
  <head>
    <?php include __DIR__ . '/partials/head.html'; ?>
    <title>REGISTER</title>
  </head>
  <body>
    <div class="container">
        <h1>REGISTER</h1>

        <?php if(isset($messages)): ?>
            <?php foreach($messages as $message): ?>
                <div style="color: red;"><?= $message ?></div>
            <?php endforeach; ?>
        <?php endif; ?>

        <form action="/register" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="example@gmail.com" required>
            <input type="password" name="password" placeholder="password" required>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="/login">Login here</a></p>
    </div>
  </body>
</html>