<!doctype html>
<html lang="en">
  <head>
    <?php include __DIR__ . '/partials/head.html'; ?>
    <title>GameNest - Register</title>
  </head>
  <body>
    <?php include __DIR__ . '/partials/messages.html'; ?>
    <div class="auth-page-wrapper">
        <h1>REGISTER</h1>

        <form action="/register" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="example@gmail.com" required>
            <input type="password" name="password" placeholder="password" required>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="/login">Login here</a></p>
    </div>
  </body>
</html>