<script src="/public/scripts/main.js" defer></script>
<nav>
  <div class="container">
    <span class="logo"><a href="/"><i class="fa-solid fa-gamepad"></i> GameNest</a></span>

    <i class="display-mobile fa-solid fa-bars"></i>

    <ul>
      <li>
        <a href="/"><i class="fa-solid fa-store"></i> Store</a>
      </li>
      
      <?php if(isset($_SESSION['user_id'])): ?>
        <?php if(isset($_SESSION['user_role']) && $_SESSION['user_role'] === 'ADMIN'): ?>
          <li>
            <a href="/admin" style="color: #cf6679;"><i class="fa-solid fa-hammer"></i> Admin</a>
          </li>
        <?php endif; ?>
        <li>
          <a href="/dashboard"><i class="fa-solid fa-user"></i> Profile</a>
        </li>
        <li>
          <a href="/library"><i class="fa-solid fa-layer-group"></i> Library</a> 
        </li>
        <li>
          <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
        </li>
      <?php else: ?>
        <li>
          <a href="/login"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
        </li>
        <li>
          <a href="/register"><i class="fa-solid fa-user-plus"></i> Register</a>
        </li>
      <?php endif; ?>
    </ul>
  </div>
  <?php if(isset($_SESSION['success_message'])): ?>
    <div class="container"><div class="alert alert-success">
        <i class="fa-solid fa-circle-check"></i> <?= $_SESSION['success_message']; unset($_SESSION['success_message']); ?>
    </div></div>
  <?php endif; ?>

  <?php if(isset($_SESSION['error_message'])): ?>
    <div class="container"><div class="alert alert-error">
        <i class="fa-solid fa-circle-exclamation"></i> <?= $_SESSION['error_message']; unset($_SESSION['error_message']); ?>
    </div></div>
  <?php endif; ?>
</nav>